body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color:darkgreen;
    text-align:center;
}
h1 span{
    color:brown;
}
h2{
    color:green;
    border-bottom:rgb(75, 91, 11) 1px solid;
}
h3{
    color:rgb(236, 102, 53)
}
div.zonaenmarcado{
    border:#d3d3d3 1px solid;
}