body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
}
h1{
    color:darkgreen;
    text-align:center;
}
h1 span{
    color:brown;
}
h2{
    color:green;
    border-bottom:rgb(75, 91, 11) 1px solid;
}
h3{
    color:rgb(236, 102, 53)
}
div.zonaenmarcado{
    border:#d3d3d3 1px solid;
    margin:10px 10px 10px 180px;
}
div.menu{
    float:left;
    width: 150px;
}
li{
    background-color: rgb(127, 201, 17);
    border:1px solid;
    text-align:center;
    color:black;
    display: block;
    line-height: 30px;
    background-position:bottom left;
    background-repeat:unset;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.3em;
}
li:hover{
    background-color: white;
}
.seleccionada{
    background-color: rgb(195, 167, 81);
}