body{
    background-color:rgb(255, 242, 224) ;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    background-color:darkgoldenrod;
    font-size:large;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color:rgb(59, 166, 166);
}
.datos{
    font-style:oblique;
    color:darkcyan;
}
.pasos{
    font-weight:bold;
    color:darkslategray;
}
.lista{
    margin-left:1%
}